/* This file is for your main application css. */
@import "bootstrap";

/* ATTRIBUTION: basic html and css were provided by Mike Mangialardi,
who wrote this https://medium.com/coding-artist/vue-js-pokemon-battle-tutorial-380cd72eb681
tutorial that we are taking the super basic fighter style layout from. The rest of
his tutorial is not used as it doesn't apply. */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.top-image-left{
  display: inline-block;
  float: left;
  margin-right: 24%;
}

.top-image-right{
  display: inline-block;
  float: right;
  margin-left: 24%;
}

.game-page{
  margin-top: 15px;
  height: 100%;
  background: #3C7ACD;
	display: flex;
	justify-content: center;
	align-items: center;
  padding: 50px;
}

.title{
  position: relative;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
}

.battle-scene{
  position: relative;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 420px;
  background: #F8F8F8;
  z-index: 1;
}

.save-button{
  margin: 30px;
}

.box-top-left{
  position: absolute;
  width: 40%;
  height: 22%;
  border-radius: 10px;
  top: 8%;
  left: 8%;
  background: #F8F8D8;
  border: 6px solid #506860;
}

.hp-bar-top{
  position: absolute;
  bottom: 29%;
  height: 12%;
  width: 70%;
  left: 12%;
  border-radius: 20px;
  background: red;
  opacity: 0.5;
}

.mp-bar-top{
  position: absolute;
  bottom: 11%;
  height: 12%;
  width: 70%;
  left: 12%;
  border-radius: 20px;
  background: blue;
  opacity: 0.5;
}

.hp-bar-bottom{
  position: absolute;
  bottom: 29%;
  height: 12%;
  width: 70%;
  left: 12%;
  border-radius: 20px;
  background: red;
  opacity: 0.5;
}

.mp-bar-bottom{
  position: absolute;
  bottom: 10%;
  height: 12%;
  width: 70%;
  left: 12%;
  border-radius: 20px;
  background: blue;
  opacity: 0.5;
}

.hp-bar-fill{
  position: absolute;
  height: 100%;
  border-radius: 20px;
  background: #FF8800;
}

.mp-bar-fill{
  position: absolute;
  height: 100%;
  border-radius: 20px;
  background: #B3FF66;
}

.box-top-right{
  position: absolute;
  width: 40%;
  height: 25%;
  border-radius: 50%;
  top: 25%;
  right: 8%;
  background: #E0E0E0;
}

.fighter-top{
  height: 150%;
  width: 50%;
  position: absolute;
  top: -80%;
  left: 25%;
}

.fighter-bottom{
  height: 150%;
  width: 50%;
  position: absolute;
  top: -75%;
  left: 25%;
}

.box-bottom-left{
 position: absolute;
  width: 40%;
  height: 25%;
  border-radius: 50%;
  bottom: 15%;
  left: 8%;
  background: #E0E0E0;
}

.box-bottom-right{
  position: absolute;
  width: 40%;
  height: 22%;
  border-radius: 10px;
  bottom: 20%;
  right: 8%;
  background: #F8F8D8;
  border: 6px solid #506860;
  z-index: 2;
}

.fighter{
  text-align: left;
  margin-left: 10%;
  margin-top: 5%;
  opacity: 0.7;
  font-size: 18px;
  font-family: "Roboto Condensed";
}

.level{
  position: absolute;
  left: 8%;
  font-size: 16px;
  font-family: "Roboto Condensed";
}

.hp-text{
  position: absolute;
  left: 2%;
  bottom: 16%;
  opacity: 0.7;
  font-size: 10px;
  font-family: "Roboto Condensed";
}

.mp-text{
  position: absolute;
  left: 2%;
  bottom: -3%;
  opacity: 0.7;
  font-size: 10px;
  font-family: "Roboto Condensed";
}

.hp{
  position: absolute;
  right: 2%;
  bottom: 16%;
  opacity: 0.7;
  font-size: 10px;
  font-family: "Roboto Condensed";
}

.mp{
  position: absolute;
  right: 2%;
  bottom: -3%;
  opacity: 0.7;
  font-size: 10px;
  font-family: "Roboto Condensed";
}

.pointer{
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  left: 28%;
}

.bottom-menu{
  position: absolute;
  width: 98%;
  bottom: 0%;
  height: 19%;
  background: #285068;
  z-index: 1;
  border: solid 6px #CEB46D;
}

.text-box-left{
  position: absolute;
  width: 50%;
  left: 0%;
  height: 95%;

}

.text-box-right{
  position: absolute;
  width: 40%;
  top: -6%;
  right: -1%;
  height: 98%;
  background: #F8F8F8;
  border: solid 6px #6F677F;

}

.battle-text{
  margin-top: 3%;
  margin-left: 5%;
  opacity: 0.95;
  font-size: 18px;
  color: white;
  text-align: left;
  font-family: "PT Sans Narrow";
}

.battle-text-top-left{
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  top: -30%;
  left: 10%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-bottom-left{
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  bottom: -30%;
  left: 10%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-top-right{
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  top: -30%;
  right: 21%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-bottom-right{
  opacity: 0.95;
  position: absolute;
  font-size: 22px;
  color: #333333;
  bottom: -30%;
  right: 20%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

@media all and (max-width: 600px) {
 .battle-scene{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 3%;
  width: 400px;
  height: 280px;
  background: #F8F8F8;
  z-index: 1;
}

  .title{
  position: absolute;
  top: -33%;
  left: 7.5%;
  color: white;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
}

  .fighter{
  text-align: left;
  margin-left: 11%;
  margin-top: 5%;
  opacity: 0.7;
  font-size: 14px;
  font-family: "Roboto Condensed";
}


.level{
  position: absolute;
  right: 5%;
  top: -13%;
  opacity: 0.7;
  font-size: 10px;
  font-family: "Roboto Condensed";
}

  .hp{
  position: absolute;
  right: 8%;
  bottom: -20%;
  opacity: 0.7;
  font-size: 11px;
  font-family: "Roboto Condensed";
}


.battle-text-top-left{
  opacity: 0.95;
  position: absolute;
  font-size: 14px;
  color: #333333;
  top: -30%;
  left: 10%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-bottom-left{
  opacity: 0.95;
  position: absolute;
  font-size: 14px;
  color: #333333;
  bottom: -30%;
  left: 10%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-top-right{
  opacity: 0.95;
  position: absolute;
  font-size: 14px;
  color: #333333;
  top: -30%;
  right: 21%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

.battle-text-bottom-right{
  opacity: 0.95;
  position: absolute;
  font-size: 14px;
  color: #333333;
  bottom: -30%;
  right: 20%;
  text-align: left;
  font-family: "PT Sans Narrow";
  cursor: pointer;
}

  .battle-text{
  margin-top: 1%;
  margin-left: 5%;
  opacity: 0.95;
  font-size: 10px;
  color: white;
  text-align: left;
  font-family: "PT Sans Narrow";
}



}
